##
# Backup Generated: db_backup
# Once configured, you can run the backup with the following command:
#
# $ backup perform -t db_backup [-c <path_to_configuration_file>]
#
# For more information about Backup's components, see the documentation at:
# http://meskyanichi.github.io/backup
#

database_yml = File.open('<%= current_path %>/config/database.yml')
s3_yml = File.open('<%= shared_path %>/config/backup/backup_s3.yml')
RAILS_ENV    = ENV['RAILS_ENV'] || 'development'

require 'yaml'
config = YAML.load_file(database_yml)
s3_config = YAML.load_file(s3_yml)

Model.new(:logs_backup, 'Description for logs_backup') do

  notify_by Mail do |mail|
    mail.on_success = <%= backup_notification_on_success %>
    mail.on_warning = <%= backup_notification_on_warning %>
    mail.on_failure = <%= backup_notification_on_failure %>
  end

  archive :uploaded_files do |archive|
    archive.add '<%= shared_path %>/log/production.log'
    archive.add '<%= shared_path %>/log/unicorn.log'
    <%= "archive.add '#{shared_path}/log/delayed_job.log'" if use_delayed_job %>
  end

  store_with S3 do |s3|
    s3.access_key_id     = s3_config['access_key']
    s3.secret_access_key = s3_config['secret_access_key']
    # Or, to use a IAM Profile:
    # s3.use_iam_profile = true

    s3.region             = 'us-west-2'
    s3.bucket             = 'liber-backups'

    s3.path = "backups/<%= application %>/<%= rails_env %>"
  end

  compress_with Gzip

end
