##
# Backup Generated: db_backup
# Once configured, you can run the backup with the following command:
#
# $ backup perform -t db_backup [-c <path_to_configuration_file>]
#
# For more information about Backup's components, see the documentation at:
# http://meskyanichi.github.io/backup
#

database_yml = File.open('<%= current_path %>/config/database.yml')
s3_yml = File.open('<%= shared_path %>/config/backup/backup_s3.yml')
RAILS_ENV    = ENV['RAILS_ENV'] || 'development'

require 'yaml'
config = YAML.load_file(database_yml)
s3_config = YAML.load_file(s3_yml)

Model.new(:db_backup, 'Description for db_backup') do

  notify_by Mail do |mail|
    mail.on_success = <%= backup_notification_on_success %>
    mail.on_warning = <%= backup_notification_on_warning %>
    mail.on_failure = <%= backup_notification_on_failure %>
  end

  ##
  # MySQL [Database]
  #
  database MySQL do |db|
    # To dump all databases, set `db.name = :all` (or leave blank)
    db.name               = config[RAILS_ENV]["database"]
    db.username           = config[RAILS_ENV]["username"]
    db.password           = config[RAILS_ENV]["password"]
    db.host               = config[RAILS_ENV]["host"]
    db.port               = config[RAILS_ENV]["port"]
    db.socket             = config[RAILS_ENV]["socket"]
    # Note: when using `skip_tables` with the `db.name = :all` option,
    # table names should be prefixed with a database name.
    # e.g. ["db_name.table_to_skip", ...]
    db.skip_tables        = []
    db.only_tables        = []
  end

  store_with S3 do |s3|
    s3.access_key_id     = s3_config['access_key']
    s3.secret_access_key = s3_config['secret_access_key']
    # Or, to use a IAM Profile:
    # s3.use_iam_profile = true

    s3.region             = 'us-west-2'
    s3.bucket             = 'liber-backups'

    time = Time.now
    if time.day == 1  # first day of the month
      # store a monthly
      path = time.strftime('%B').downcase             # January, February, etc...
    elsif time.sunday?
      # store a weekly
      path = "weekly_#{time.day / 7 + 1}".downcase # Weekly_1 thru Weekly_5
    else
      # store a daily
      path = time.strftime('%A').downcase             # Monday thru Saturday
    end
    s3.path = "backups/<%= application %>/<%= rails_env %>/database/#{ path }"
  end

  ##
  # Gzip [Compressor]
  #
  compress_with Gzip

end
