upstream unicorn {
  server unix:/tmp/unicorn.<%= application %>.sock fail_timeout=0;
}

# run `nginx -t`. If you get this error:
#  nginx: [emerg] could not build the server_names_hash, you should increase server_names_hash_bucket_size: 32
# uncomment the line "server_names_hash_bucket_size 64;" on /etc/nginx/nginx.conf
# For more info: http://migre.me/gAT6e

# Just for production when should have a www redirect
# http://stackoverflow.com/q/7947030/529418

<% if www_redirect %>
server {
    listen 80;
    server_name www.<%= server_name %>;
    return 301 $scheme://<%= server_name %>$request_uri;
}
<% end %>

<% if webserver == :passenger && websocket_rails %>
upstream websocket {
    server localhost:3001;
}
<% end %>

server {
  <% if use_ssl %>
  listen 443 ssl deferred;
  listen 80 deferred;

  ssl on;
  ssl_certificate ssl.unified.crt;
  ssl_certificate_key ssl.key;

  ssl_session_timeout 5m;

  ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
  ssl_ciphers "ECDHE-RSA-AES128-GCM-SHA384:ECDHE-RSA-AES128-GCM-SHA128:DHE-RSA-AES128-GCM-SHA384:DHE-RSA-AES128-GCM-SHA128:ECDHE-RSA-AES128-SHA384:ECDHE-RSA-AES128-SHA128:ECDHE-RSA-AES128-SHA:ECDHE-RSA-AES128-SHA:DHE-RSA-AES128-SHA128:DHE-RSA-AES128-SHA128:DHE-RSA-AES128-SHA:DHE-RSA-AES128-SHA:ECDHE-RSA-DES-CBC3-SHA:EDH-RSA-DES-CBC3-SHA:AES128-GCM-SHA384:AES128-GCM-SHA128:AES128-SHA128:AES128-SHA128:AES128-SHA:AES128-SHA:DES-CBC3-SHA:HIGH:!aNULL:!eNULL:!EXPORT:!DES:!MD5:!PSK:!RC4"
  ssl_prefer_server_ciphers on;
  <% else %>
  listen 80 default deferred;
  <% end %>

  server_name <%= server_name %>;
  root <%= current_path %>/public;

  <% if webserver == :passenger %>
  passenger_ruby /home/deploy/.rbenv/shims/ruby;
  passenger_enabled on;
  passenger_app_env <%= rails_env %>;
  passenger_show_version_in_header off;
  passenger_sticky_sessions on;
  <% end %>

  if (-f $document_root/system/maintenance.html) {
    return 503;
  }
  error_page 503 @maintenance;
  location @maintenance {
    rewrite  ^(.*)$  /system/maintenance.html last;
    break;
  }

  location ^~ /assets/ {
    gzip_static on;
    expires max;
    add_header Cache-Control public;
  }

  <% if webserver == :passenger && websocket_rails %>
  location /websocket {
      proxy_pass http://websocket/websocket;
      proxy_http_version 1.1;
      proxy_set_header Upgrade $http_upgrade;
      proxy_set_header Connection "upgrade";
  }
  <% end %>

  try_files $uri/index.html $uri @unicorn;
  location @unicorn {
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header Host $http_host;
    proxy_redirect off;
    proxy_pass http://unicorn;
    # http://goo.gl/f7YJu
    <% if use_ssl %>
    proxy_set_header X-Forwarded-Proto $scheme;
    <% end %>
  }

  error_page 500 502 503 504 /500.html;
  error_page 401 /401.html;
  error_page 404 /404.html;
  error_page 413 /413.html;
  error_page 422 /422.html;

  client_max_body_size 3M;
  keepalive_timeout 10;
}
