<div class="qbox">
  <h3><i class="icon-search pull-right"></i>Compare os países</h3>

  <p>Faça uma comparação entre dois países e veja a diferenças
  de pontuação para cada uma dos componentes do Índice.</p>

  <hr />

  <div class="app-country-field">
    <select data-placeholder="Escolha um país" id="app-chzn-select-country1" style="width:100%;">
      <% @countries_ranking.each do |c| %>
      <option value="<%= c.name.parameterize %>"><%= c.name %></option>
      <% end %>
    </select>
  </div>

  <p style="text-align:center;" class="app-vs">Vs.</p>

  <div class="app-country-field">
    <select data-placeholder="Escolha um país" id="app-chzn-select-country2" style="width:100%;">
      <% @countries_ranking.each do |c| %>
        <option value="<%= c.name.parameterize %>" <%= 'selected="selected"'.html_safe if c.code == 'BR' %>>
          <%= c.name %>
        </option>
      <% end %>
    </select>
  </div>

  <%= link_to 'Comparar',
    comparate_path(@countries_ranking.first.name.parameterize, 'brasil'),
      class: 'btn btn-inverse btn-small btn-block', id: 'app-comparate-link' %>
</div>

<%= content_for :scripts do %>
  <script type="text/javascript">
    $(function () {
        var $select1 = $('#app-chzn-select-country1').select2();
        var $select2 = $('#app-chzn-select-country2').select2();

        <% if not @country.nil? %>
          $select1.select2('val', '<%= @country.name.parameterize %>')
        <% elsif not @country1.nil? %>
          $select1.select2('val', '<%= @country1.name.parameterize %>')
        <% end %>

        <% unless @country2.nil? %>
          $select2.select2('val', '<%= @country2.name.parameterize %>')
        <% end %>

        $select1.change(function (val) {
            $('#app-comparate-link').attr('href',
                '/comparar/' + val.val + '/' + $select2.select2('val'));
        });

        $select2.change(function (val) {
            $('#app-comparate-link').attr('href',
                '/comparar/' + $select1.select2('val') + '/' + val.val);
        });
    });
  </script>
<% end %>
