var gdp_names = {
  <%= (@values.collect do |v|

    if v.country.code == 'DK'
      "'#{v.country.code}': '#{escape_javascript(v.country.name)}', 'GL': '#{escape_javascript(v.country.name)}'"
    elsif v.country.code == 'GB'
      "'#{v.country.code}': '#{escape_javascript(v.country.name)}', 'FK': '#{escape_javascript(v.country.name)}'"
    else
      "'#{v.country.code}': '#{escape_javascript(v.country.name)}'"
    end

  end * ',').html_safe %>
};

var gdp_data = {
  <%= (@values.where('total IS NOT NULL').collect do |v|

    if v.country.code == 'DK'
      "'#{v.country.code}': #{v.total}, 'GL': #{v.total}"
    elsif v.country.code == 'GB'
      "'#{v.country.code}': #{v.total}, 'FK': #{v.total}"
    else
      "'#{v.country.code}': #{v.total}"
    end

  end * ',').html_safe %>
};

$('#map').html('');

$(function () {
  $('#map').vectorMap({
      backgroundColor: 'transparent', zoomOnScroll: false,
      regionsSelectable: true, regionsSelectableOne: true,
      zoomStep: 1.2,
      series: {
        regions: [{
          values: gdp_data,
          scale: [
            '#ad0330',
            '#da7c38',
            '#CBE83C',
            '#5599ff',
            '#003d4f'
          ],
          normalizeFunction: function (data) {
            if      (data <= 10.0 && data >= 8.0) return 1;
            else if (data <   8.0 && data >= 7.0) return 0.75;
            else if (data <   7.0 && data >= 6.0) return 0.5;
            else if (data <   6.0 && data >= 5.0) return 0.25;
            else                                  return 0.0;

          },
          min: 0.0, max: 10.0
        }]
      },
      onRegionLabelShow: function(e, el, code){
        if (gdp_data[code] === undefined)
          el.html('Não há informações disponíveis');
        else
          el.html(gdp_names[code] + ' (' + gdp_data[code] + ')');
      },

      regionStyle: {
        initial: {
          fill: '#777',
          'fill-opacity': 1,
          stroke: 'none',
          'stroke-width': 0,
          'stroke-opacity': 1
        },
        hover: { 'fill-opacity': 0.8 },
        selected: { fill: '#444' }
      }
  });
});

$('#app-map-editions > li').removeClass('active');
$('#app-map-editions > li[data-id="<%= @edition.id %>"]').addClass('active');
