$('#app-index-graph').highcharts({
  chart: { type: 'line', zoomType: 'xy' },
  title: { text: '<%= escape_javascript(@category.name) %>' },
  xAxis: {
    categories: [ <%= (@editions.collect { |e| e.name } * ',').
      html_safe %> ]
  },
  yAxis: {
    title: { text: null },
    min: 0, max: 10,
    plotLines: [{ value: 0, width: 1, color: '#fff' }]
  },
  plotOptions: {
    line: { dataLabels: { enabled: false } }
  }, series: [
  <% unless @country1.nil? %>
    {
      color: '#66a620',
      name: '<%= escape_javascript(@country1.name) %>',
      data: [ <%= (@editions.collect do |e|
        (! (value = e.values.where(country_id: @country1.id).first).
          nil?) ? value.category(params[:category]) : 'null'
      end * ',').html_safe %> ]
    },
  <% end %>
  <% unless @country2.nil? %>
    {
      color: '#3465a4',
      name: '<%= escape_javascript(@country2.name) %>',
      data: [ <%= (@editions.collect do |e|
        (! (value = e.values.where(country_id: @country2.id).first).
          nil?) ? value.category(params[:category]) : 'null'
      end * ',').html_safe %> ]
    },
  <% end %>
    {
      color: '#c17d11',
      name: 'Média global',
      data: [ <%= (@editions.collect do |e|
        (value = e.values_sum.where(category_id: params[:category]).first).
          nil? ? 'null' : (value.sum / Country.count).round(2)
      end * ',').html_safe %> ]
    }
  ]
});

$('#app-index-categories-tree ul li').removeClass('active');
$('#app-index-categories-tree li[data-id="<%= @category.id %>"]').
  addClass('active');
