<%= content_for :page_title do @page.title end %>
<%= content_for :page_id do @page.id == configuration.contact_page_id ? 'contact' : 'page' end %>

<%= content_for :og do %>
  <%
    metas = [
      ['og:type',            'article'],
      ['og:title',           "Índice de Liberdade Econômica - #{@page.title}"],
      ['og:site_name',       'Índice de Liberdade Econômica'],
      ['og:description',     configuration.description],
      ['og:url',             request.url],
      ['og:image',           URI.join(root_url, '/assets/facebook_logo.png')],
      ['fb:app_id',          configuration.facebook_app_id]
    ]
  %>
  <% metas.each do |property, content| %>
    <meta property="<%= property %>" content="<%= content %>" />
  <% end %>
<% end %>

<div id="app-country-title">
  <h2><%= @page.title %></h2>
</div>

<div class="row-fluid">
  <div class="span9">
    <% if @page.content.present? or configuration.contact_page_id == @page.id %>
      <div class="app-page-content">
        <%= @page.content.html_safe %>

        <div class="form-wrapper">
          <% if configuration.contact_page_id == @page.id %>
            <%= content_tag(:p, notice,
              class: 'alert alert-success') if notice %>

            <%= simple_form_for(@contact_form, url: send_contact_path) do |f| %>
              <div class="form-fields">
                <%= f.input :name %>
                <%= f.input :email %>
                <%= f.input :message, as: :text %>
              </div>

              <div class="actions">
                <%= f.button :submit, 'Enviar mensagem', class: 'btn-peach' %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="span3">
    <%= render partial: 'top_10_box' %>

    <% unless @countries_ranking.nil? || @countries_ranking.empty? %>
      <%= render partial: 'comparate_box' %>
    <% end %>
  </div>
</div>
