/*
**= require select2
**= require jquery-jvectormap-1.2.2
**= require_tree .
**= require_self
*/

div:after, ol:after, form:after, ul:after, dl:after, li:after,
.app-title:after, #app-freedom-value-box:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
    overflow: hidden;
}

html {
    background: #34495e;
}

body {
    height: 100%;
}

h1, h2, .prop-title {
    color: #fff;
    font-size: 32px;
    font-weight: normal;
    text-shadow: none;
}

h1 {
    margin-bottom: 50px;
}

a, a:active {
    color: #5599ff;
}

.container {
    width: 940px;
}

li.dropdown.open > .dropdown-toggle,
.navbar .nav li.dropdown.active > .dropdown-toggle,
.navbar .nav li.dropdown.open.active > .dropdown-toggle,
.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus,
.navbar .nav li.dropdown.open > .dropdown-toggle,
.navbar .nav li.dropdown.active > .dropdown-toggle,
.navbar .nav li.dropdown.open.active > .dropdown-toggle,
.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus,
.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus,
.dropdown-submenu:hover > a,
.dropdown-menu .active > a,
.dropdown-menu .active > a:hover,
.select2-results .select2-highlighted {
    background: #003d4f;
}

.btn-peach {
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
    border: 1px solid #003d4f;
    border-bottom-color: #000;
    background: #56a2ff; /* Old browsers */
    background: -moz-linear-gradient(top,  #56a2ff 0%, #005b75 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#56a2ff), color-stop(100%,#005b75)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #56a2ff 0%,#005b75 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #56a2ff 0%,#005b75 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #56a2ff 0%,#005b75 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #56a2ff 0%,#005b75 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#56a2ff', endColorstr='#005b75',GradientType=0 ); /* IE6-9 */
    background-repeat: repeat-x;
}

.btn-peach:hover,
.btn-peach:active,
.btn-peach.active,
.btn-peach.disabled,
.btn-peach[disabled] {
    background-color: #5599ff;
}

.btn:hover, .btn:focus {
    background-position: 0 15px;
}

.qbox .btn:hover, .qbox .btn:hover .btn:focus {
    background-position: 0 -15px;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
    border-color: #5599ff;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(85, 153, 255, 0.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(85, 153, 255, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(85, 153, 255, 0.6);
}

.hotproperties div:hover.thumbnail {
    border-bottom-color: #5599ff;
}

.appartment-listing .prop-title, a.prop-title, a.prop-title {
    font-size: 22px;
}

.freer a, .freer p, .freer p.description {
    color: #fff;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.7);
}

.freer a {
    height: 30px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.freer a:hover {
    color: #5599ff;
    text-decoration: none;
    text-shadow: none;
}

.freer a:active {
    font-size: 22px !important;
}

.freer .list-btns {
    margin: 0;
}

h1.app-title {
    font-size: 32px;
}

h2.app-title {
    margin: 20px 0 0 0;
    font-size: 24px;
}

#app-add-this {
    padding-top: 10px;
    position: absolute;
    width: 100%;
    z-index: 1000;
}

#app-add-this .pull-right {
    width: 300px;
}

#app-wrapper {
    height: auto;
    background: url("/assets/bg.png") no-repeat center top;
}

#map {
    padding-bottom: 40px;
    height: 450px;

    border-radius: 0 0 5px 5px;
    background: #daecff;
    box-shadow: 0 3px 5px rgba(0, 0 ,0, 0.4),
        inset 0 0 100px 2px rgba(0, 0, 0, 0.4);
}

#app-map-editions {
    margin: 0;
    padding: 5px 10px;

    border-top: 1px solid rgba(0, 0, 0, 0.1);
    background: #fff;
}

#app-map-editions h3 {
    color: #003d4f;
    font-size: 32px;
}

#ranking-page #app-map-editions {
    margin-top: -10px;
}

#ranking-page #app-map-editions {
    border-radius: 0 0 5px 5px;
}

#ranking-page #app-map-editions ul {
    margin: 0;
    padding: 0;
}

#app-map-editions li {
    margin-right: 5px;
    display: block;
    float: left;
}

#app-map-editions li a {
    display: block;
    padding: 5px;
}

#app-map-editions li.active a {
    color: #fff;

    border-radius: 3px;
    background: #003d4f;
}

#app-map-editions li.active a:after {
    margin: 5px 0 0 8px;
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    content: "";

    border: 5px solid #003d4f;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
}

#app-map-editions li.active a:hover {
    text-decoration: none;
}

.app-title strong {
    margin-right: 1px;
    padding: 4px 20px;
    display: block;
    float: left;

    color: #fff;
    text-shadow: none;
    background: #2d4f15;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.app-title em {
    margin: 10px 0 0 0;
    padding: 4px 10px;
    display: block;
    float: left;

    color: #fff;
    font-size: 18px;
    font-style: normal;
    text-shadow: none;
    background: #5599ff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.app-title.free strong {
    background: #003d4f;
}

.app-title.mostly-free strong {
    background: #5599ff;
}

.app-title.moderately-free strong {
    background: #CBE83C;
}

.app-title.mostly-unfree strong {
    background: #da7c38;
}

.app-title.unfree strong {
    background: #ad0330;
}

.app-ranking > .app-elem {
    margin: 0 1px 1px 0 !important;
    padding-right: 10px;
    width: 224px;
    height: 112px;
    float: left;

    background: #fff;
}

.app-ranking > .app-elem .app-pos {
    padding: 10px 0 0 10px;
    min-height: 92px;

    font-size: 20px;
}

.app-ranking > .app-elem h3 {
    font-size: 12px;
}

.app-ranking > .app-elem p {
    line-height: 130%;
}

.app-graphic-options {
    padding: 10px;

    color: #F6F6F6;
    text-shadow: 0 1px #000000, 0 0 0.2em rgba(0, 0, 0, 0.7);
    font-size: 14px;
    border-radius: 3px 3px 0 0;
    background-color: #363636;
    background-image: -moz-linear-gradient(top, #444444, #222222);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#444444), to(#222222));
    background-image: -webkit-linear-gradient(top, #444444, #222222);
    background-image: -o-linear-gradient(top, #444444, #222222);
    background-image: linear-gradient(to bottom, #444444, #222222);
    background-repeat: repeat-x;
    border-color: #222 #222 black;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff444444', endColorstr='#ff222222', GradientType=0);
    filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

.app-graphic-options h2 {
    color: #fff;
    text-shadow: none;
}

.app-graphic-options nav {
    padding: 3px;
    position: absolute;

    background: #fff;
}

.app-graphic-options nav ul {
    margin: 0;
    list-style: none;

    color: #000;
    text-shadow: none;
}

.app-graphic-options .app-lvl-1 span {
    padding-left: 20px;
}

.app-graphic-options .app-lvl-2 span {
    padding-left: 40px;
}

.app-graphic-options .app-lvl-3 span {
    padding-left: 60px;
}

.app-graphic-options .app-lvl-3 span {
    padding-left: 80px;
}

.app-graphic-options nav ul span {
    padding: 2px 8px;
    display: block;

    cursor: pointer;
    font-size: 12px;
    border-radius: 3px;
}

.app-graphic-options nav ul li > span:hover {
    color: #fff;
    background: #61c419;
}

/*
** Ranking detail
*/

.app-home-ranking-detail:before {
    margin: -20px 0 0 20px;
    display: block;
    position: absolute;
    width: 0px;
    height: 0px;
    content: "";

    border: 10px solid rgba(0, 0, 0, 0.2);
    border-right-color: transparent;
    border-left-color: transparent;
    border-top-color: transparent;
}

.app-home-ranking-detail {
    margin-top: 20px;
    height: 50px;

    background: rgba(0, 0, 0, 0.2);
}

.app-home-ranking-detail strong {
    padding-left: 10px;
    display: block;
    float: left;
    width: 60px;
    line-height: normal;
}

.app-home-ranking-detail strong:first-child {
    margin-top: 5px;
    padding-right: 10px;
    width: 30px;

    font-size: 30px;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.app-home-ranking-detail strong:nth-child(2) {
    padding-top: 5px;
    width: 80px;

    font-size: 16px;
}

.app-home-ranking-detail strong:nth-child(2) em {
    display: block;

    font-size: 10px;
    font-weight: normal;
    font-style: normal;
}

.app-home-ranking-detail strong:last-child {
    margin: 5px 0 0 10px;
    width: 40px;

    font-size: 14px;
    border-left: 1px solid rgba(0, 0, 0, 0.2);
}

.navbar-form .select2-container .select2-choice {
    height: 28px;

    border-radius: 4px 0 0 4px !important;
}

.navbar-form .select2-container .select2-choice div {
    border-radius: 0 !important;
}

#app-map-colors-degree {
    margin: -21px 0 0 399px;
    padding: 5px 20px;
    width: 500px;
    height: 10px;

background: #ad0330; /* Old browsers */
background: -moz-linear-gradient(left,  #ad0330 0%, #da7c38 23%, #cbe83c 49%, #5599ff 75%, #003d4f 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ad0330), color-stop(23%,#da7c38), color-stop(49%,#cbe83c), color-stop(75%,#5599ff), color-stop(100%,#003d4f)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  #ad0330 0%,#da7c38 23%,#cbe83c 49%,#5599ff 75%,#003d4f 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  #ad0330 0%,#da7c38 23%,#cbe83c 49%,#5599ff 75%,#003d4f 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  #ad0330 0%,#da7c38 23%,#cbe83c 49%,#5599ff 75%,#003d4f 100%); /* IE10+ */
background: linear-gradient(to right,  #ad0330 0%,#da7c38 23%,#cbe83c 49%,#5599ff 75%,#003d4f 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ad0330', endColorstr='#003d4f',GradientType=1 ); /* IE6-9 */
}

#app-map-colors-degree p {
    margin: -5px 0 0 0;
    line-height: normal;

    color: #fff;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

#app-map-colors-degree p:last-child {
    text-align: right;
}

/*
** Top highlight comparate box
*/

#app-top-highlight .qbox {
    margin: 0 !important;

    border-radius: 0 0 5px 5px;
    border: 0;
    background: #fff;
}

#app-top-highlight .qbox h3 {
    margin: 0;
    padding: 0;

    color: #003d4f;
    font-size: 32px;
    text-shadow: none;
    border-radius: 0;
    background: transparent;
    box-shadow: none;
}

#app-top-highlight .qbox h3 i {
    display: none;
}

#app-top-highlight .qbox p {
    font-size: 14px;
    font-weight: normal;
}

#app-top-highlight .app-country-field {
    width: 200px;
    float: left;
}

#app-top-highlight .app-vs {
    width: 40px;
    float: left;
}

#app-top-highlight .btn {
    margin: 0 0 0 20px;
    width: 100px;
    float: left;
}

/*
** Country title
*/

#app-country-title {
    margin-top: -5px;
    padding: 30px 30px 0 30px;
    background: rgba(255, 255, 255, 0.9);

    border-radius: 0 0 6px 6px;
}

#app-country-title h2 {
    margin: 0;

    color: #003d4f;
    font-size: 48px;
}

#app-country-title h2.mostly-free {
    color: #5599ff;
}

#app-country-title h2.moderately-free {
    color: #CBE83C;
}

#app-country-title h2.mostly-unfree {
    color: #da7c38;
}

#app-country-title h2.unfree {
    color: #ad0330;
}

#app-country-info .country-position.mostly-free {
    background: #5599ff;
}

#app-country-info .country-position.moderately-free {
    background: #CBE83C;
}

#app-country-info .country-position.mostly-unfree {
    background: #da7c38;
}

#app-country-info .country-position.unfree {
    background: #ad0330;
}

#app-country-info .country-position.mostly-free:after {
    border-left-color: #5599ff;
}

#app-country-info .country-position.moderately-free:after {
    border-left-color: #CBE83C;
}

#app-country-info .country-position.mostly-unfree:after {
    border-left-color: #da7c38;
}

#app-country-info .country-position.unfree:after {
    border-left-color: #ad0330;
}

/*
** Country info
*/

#app-country-info {
    margin: 20px 0 0 0;
    padding: 10px;
    position: relative;
    z-index: 10;

    border-radius: 6px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#app-country-info .country-position {
    margin-bottom: 0;
    padding: 10px;
    height: 151px;

    color: #fff;
    border-radius: 6px;
    background: #003d4f;
}

#app-country-info .country-position:after {
    margin: -70px 0 0 124px;
    position: absolute;
    display: block;
    content: "";
    height: 0;
    width: 0;

    border: 10px solid #003d4f;
    border-right-color: transparent;
    border-top-color: transparent;
    border-bottom-color: transparent;
}

#app-country-info .country-position strong {
    display: block;
    line-height: normal;

    font-size: 48px;
    text-align: center;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.7);
}

#app-country-info .country-position span {
    padding-top: 10px;
    display: block;

    font-size: 28px;
    text-align: center;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}

#app-country-info .country-position span em {
    font-size: 10px;
    font-style: normal;
}

#app-country-info .country-position span:first-child {
    margin: -10px -10px 0 -10px;
    padding: 0;
    font-size: 14px;

    border: 0;
    text-shadow: 0 1px 0 #000;
    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
}

#app-country-info .country-thumbnail {
    margin-bottom: 0;
}

#app-country-info .country-graph,
#app-country-info .country-graph1,
#app-country-info .country-graph2 {
    margin-bottom: 20px;
    height: 150px;
}

.hotproperties .thumbnail img {
    height: 150px;
}

/*
** Country index detail
*/

#app-country-index-detail {
    margin: -6px 0 0 0;
    padding: 0 10px 10px 10px;
    position: relative;
    z-index: 9;

    border-radius: 0 0 6px 6px;
    background: #fff;
}

#data-page #app-country-index-detail {
    margin: 0;
}

#app-country-index-detail h2 {
    margin: 0 0 0 -10px;
    padding: 10px;

    color: #353535;
    font-size: 18px;
    text-shadow: 0 1px 0 #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    background-color: #fafafa;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff2f2f2', GradientType=0);
    background-image: -moz-linear-gradient(top, #ffffff, #f2f2f2);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f2f2f2));
    background-image: -webkit-linear-gradient(top, #ffffff, #f2f2f2);
    background-image: -o-linear-gradient(top, #ffffff, #f2f2f2);
    background-image: linear-gradient(to bottom, #ffffff, #f2f2f2);
}

#app-country-index-detail #app-index-categories-tree,
#app-country-index-detail #app-index-labels {
    margin: 0 0 -10px -10px;
    height: 300px;

    border-radius: 0 0 0 6px;
    background: #ddd url("/assets/vertical_gradiente1.png") repeat-y right top;
}

#app-country-index-detail #app-index-labels {
    height: auto;
}

#app-country-index-detail #app-index-categories-tree .ftscroller_hwaccelerated > ul {
    margin: 20px;
}

#app-country-index-detail #app-index-categories-tree ul {
    list-style: none;
}

#app-country-index-detail #app-index-categories-footer {
    margin: -10px 0 0 -10px;
    content: "";
    display: block;
    height: 20px;
    width: 380px;
    position: absolute;
    z-index: 1000;

    border-radius: 0 0 0 6px;
    background: -moz-linear-gradient(top,  rgba(221,221,221,0) 0%, rgba(221,221,221,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(221,221,221,0)), color-stop(100%,rgba(221,221,221,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(221,221,221,0) 0%,rgba(221,221,221,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(221,221,221,0) 0%,rgba(221,221,221,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(221,221,221,0) 0%,rgba(221,221,221,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(221,221,221,0) 0%,rgba(221,221,221,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00dddddd', endColorstr='#dddddd',GradientType=0 ); /* IE6-9 */
}

#app-country-index-detail #app-index-categories-tree a {
    margin-bottom: 2px;
    padding: 3px 10px;
    display: inline-block;
    white-space: nowrap;

    color: #fff;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
    background: #5599ff;
}

#app-country-index-detail #app-index-categories-tree a span {
    line-height: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    max-width: 250px;
    position: relative;
}

#app-country-index-detail #app-index-categories-tree a:after {
    margin: -3px -36px -3px 0;
    display: block;
    height: 0;
    width: 0;
    content: "";
    float: right;

    border: 13px solid #5599ff;
    border-right-color: transparent;
    border-top-color: transparent;
    border-bottom-color: transparent;
}

#app-country-index-detail #app-index-categories-tree a:hover,
#app-country-index-detail #app-index-categories-tree li.active > a {
    background: #003d4f;
    text-decoration: none;
}

#app-country-index-detail #app-index-categories-tree a:hover:after {
    border-left-color: #003d4f;
}

#app-country-index-detail #app-index-categories-tree a:hover:after,
#app-country-index-detail #app-index-categories-tree li.active > a:after {
    border-left-color: #003d4f;
}

#app-country-index-detail #app-index-labels {
    padding: 20px;
}

#app-country-index-detail #app-index-labels > ul {
    margin: 0 0 8px 0;

    list-style: none;
}

#app-country-index-detail #app-index-labels > ul li {
    margin: 0 2px 2px 0;
    padding: 3px 10px;
    display: block;
    float: left;

    cursor: pointer;
    color: #fff;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
    background: #5599ff;
}

#app-country-index-detail #app-index-labels > ul li:hover,
#app-country-index-detail #app-index-labels > ul li.active {
    background: #003d4f;
}

/*
** Index graph
*/

#app-index-graph-region h2 {
    margin: 0 -10px 0 -23px;
}

#app-index-graph {
    margin-top: 40px;
    height: 250px;
}

#data-page #app-index-graph {
    height: 550px;
}

/*
** Comparate page
*/

#comparate-page #app-country-title {
    padding: 0 30px;
}

#comparate-page #app-country-title .title2 {
    text-align: right;
}

#comparate-page #app-country-title p {
    margin-top: 20px;
    margin-bottom: 0;
    line-height: normal;

    color: rgba(0, 0, 0, 0.5);
    font-size: 28px;
    text-align: center;
}

#comparate-page #app-country-info .country-position {
    margin: 0 20px 20px 0;
    float: left;
    width: 114px;
    height: 136px;
}

#comparate-page .info2 .country-position {
    margin: 0 0 20px 20px !important;
    float: right !important;
}

#comparate-page .info2 .country-position:after {
    content: none;
}

#comparate-page .info2 .country-position:before {
    margin: 65px 0 0 -30px;
    position: absolute;
    display: block;
    content: "";
    height: 0;
    width: 0;
    border: 10px solid #003d4f;
    border-left-color: transparent;
    border-top-color: transparent;
    border-bottom-color: transparent;
}

#comparate-page .info2 .country-position.mostly-free:before {
    border-right-color: #5599ff;
}

#comparate-page .info2 .country-position.moderately-free:before {
    border-right-color: #CBE83C;
}

#comparate-page .info2 .country-position.mostly-unfree:before {
    border-right-color: #da7c38;
}

#comparate-page .info2 .country-position.unfree:before {
    border-right-color: #ad0330;
}

#comparate-page .info2 .country-thumbnail {
    float: right;
}

#comparate-page .qbox {
    padding-bottom: 10px;
    height: auto !important;
    min-height: 30px !important;
}

#comparate-page .qbox > h3,
#comparate-page .qbox > p:not(.app-vs),
#comparate-page .qbox > hr {
    display: none;
}

#comparate-page .app-country-description {
    padding: 0 20px;
    width: 360px;
    clear: both;

    text-align: justify;
}

/*
** Page
*/

#page-page #app-country-title, #contact-page #app-country-title {
    padding: 30px;
    margin-bottom: 14px;
}

.app-page-content {
    margin-top: 6px;
    padding: 20px 30px;
    min-height: 736px;

    border-radius: 6px;
    background: #fff;
}

.app-page-content h3 {
    margin: 20px 0 !important;
}

/*
** Top 10 box
*/

#app-top-10-box h3 {
    color: #000;
    font-size: 16px;
    background: transparent;
    text-shadow: 0 1px 0 #fff;
}

#app-top-10-box .app-ranking {
    margin: 0;
    padding: 0;

    list-style: none;
}

#app-top-10-box .app-ranking li {
    padding: 5px;
    height: auto;
    width: auto;
    float: none;

    background: transparent;
}

#app-top-10-box .app-ranking li:nth-child(2n+1) {
    border-radius: 3px;
    background: rgba(0, 0, 0, 0.05);
}

#app-top-10-box .app-ranking li.app-brazil {
    color: #fff;
    background: #5599ff;
    text-shadow: none;
}

#app-top-10-box .app-ranking li.app-brazil a {
    color: #fff;
}

#app-top-10-box .app-ranking h4,
#app-top-10-box .app-total,
#app-top-10-box .app-pos {
    min-height: 0;
}

#app-top-10-box .app-ranking h4 {
    margin-bottom: 0;
    padding: 0;

    font-size: 12px;
}

#app-top-10-box .app-ranking h4 a {
    display: block;
    overflow: hidden;

    white-space: nowrap;
    text-overflow: ellipsis;
}

#app-top-10-box .app-total {
    text-align: right;
    min-height: 0;
}

#app-top-10-box .app-pos {
    padding: 0;
    line-height: 16px;

    font-size: 12px;
    text-align: center;
}

/*
** Freedon value box
*/

#app-freedom-value-box {
    padding: 10px;

    border-radius: 3px;
    background: #f5f5f5;
}

#app-freedom-value-box strong, #app-freedom-value-box span {
    display: block;
}

#app-freedom-value-box strong {
    margin-right: 10px;
    width: 45px;
    float: left;

    font-size: 22px;
}

#app-freedom-value-box span {
    font-size: 12px;
}

/*
** Contact page
*/

.form-wrapper {
    margin-top: 30px;
}

.form-wrapper input, .form-wrapper textarea {
    width: 70%;
}

.form-wrapper textarea {
    height: 100px;
}

.form-wrapper input.btn {
    width: auto !important;
}

.form-wrapper .input .error {
    margin: -10px 0 10px 0;
    display: block;

    color: red;
}

/*
** Footer
*/

footer {
    margin-top: 20px;
    padding: 0;

    background: rgba(0, 0, 0, 0.2) url("/assets/bg_ptr.png");
}

footer .container-fluid {
    padding-top: 40px;

    background: url("/assets/footer_shadow.png") no-repeat center top;
}

footer, footer p {
    border: 0;
}

footer .footer-links {
    background: transparent;
}

footer .contact-info {
    color: #fff;
    text-transform: none;
}

footer .contact-info a {
    color: rgba(255, 255, 255, 0.7);
}

footer .contact-info a:hover {
    text-decoration: underline;
}

.social-network a:hover {
    text-decoration: none !important;
}

/*
** Share
*/

.app-share {
    margin: 20px -34px 0 0;
    float: right;
    position: relative;

    border-radius: 0 5px 5px 0;
    background: #fff;
}

.app-share span, .app-share a {
    padding: 5px;
    display: block;

    font-size: 22px;
    text-align: center;
}

.app-share span {
    margin-left: -5px;
    padding-left: 10px;
    position: relative;
    z-index: 100;

    border-radius: 0 5px 0 0;
    background: #fff;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.app-share a {
    color: #fff;
}

.app-share a:hover {
    text-decoration: none;
}

.app-share a.facebook {
    background: #3b5998;
}

.app-share a.twitter {
    border-radius: 0 0 5px 0;
    background: #00acee;
}
