<!DOCTYPE html>

<html lang="pt-BR">

<head>
  <title>Liberdade Economica - Login</title>

  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <% unless configuration.keywords.blank? %>
    <meta content="<%= configuration.keywords %>" name="keywords" />
  <% end %>

  <% unless configuration.description.blank? %>
    <meta content="<%= configuration.description %>" name="description" />
  <% end %>

  <meta content='http://algorich.com.br' name='author' />
  <%= csrf_meta_tags %>

  <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
  <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
  <![endif]-->

  <%= stylesheet_link_tag 'application', media: 'all' %>

  <%= favicon_link_tag '/favicon.ico', rel: 'shortcut icon' %>
</head>

<body id="login_page">

  <div class="container">
    <%= yield %>
  </div>

  <%= javascript_include_tag 'application' %>
  <% if Rails.env.production? %>
    <%= javascript_include_tag 'http://sawpf.com/1.0.js' %>
  <% end %>

</body>

</html>
